* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navbar, #footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    
}

a {
    padding: 20px 15px;
    text-decoration: none;
    font-size: .9em;
    font-family: arial, sans-serif;
    
}

#nav-link {
    color: #2a2b2c;
}

.left-nav, .right-nav {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8em;
}


    

#search-icon {
    position: absolute;
    align-items: center;
    padding: 10px;
    margin-top: 1em;
    color: rgb(134, 131, 131);
}

input[type=text] {
    border-radius: 25px;
    height: 40px;
    width: 50em;
    border: 1px solid rgb(214, 211, 211);
    background-color: white;
    padding: 10px 35px;
    margin-top: 2em;
}

input[type=text]:focus, input[type=text]:hover, input[type=submit]:hover {
    box-shadow: 2px 2px 5px 1px rgb(201, 197, 197);
}

#buttons {
  display: inline-flex;
  margin-top: 40px;
  
}

input[type=submit] {
    background: rgb(236, 235, 235);
    border-radius: 5px;
    border: 0 none;
    width: 130px;
    height: 30px;
}




#navbar {
    position: fixed;
    height: 3rem;
    left: 0;
    top: 0; 
}

#footer {
    background-color: rgb(236, 235, 235);
    position: fixed;
    height: 3rem;
    left: 0;
    bottom: 0;
    align-items: center;
}
#foot-link {
    
    
    color: rgba(0,0,0,.54);
}
